{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Quieres inscribirte a tu escuela desde la comodidad de tu casa?</h1>
    <p class="lead">Hola, bienvenidos al sistema de inscripcion en linea CCT</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Publicidad</h2>
        <p>
            Publicidad variada con fines multiples.
        </p>
        <p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Guias</h2>
        <p>Guia para maestros/usuarios del sistema.</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Videos informativos</h2>
        <p>falta de programar.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}